
<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tudo certo</title>
<link rel="shortcut icon" href="https://pagelink.site/img/shield.svg" />
<link rel="stylesheet" href="https://pagelink.site/css/pagelink-style.css?v=2">
</head>
<body>
<div class="container">
<img src="https://pagelink.site/img/shield.svg" alt="" width="120" class="margin-auto">
<h1>Tudo certo</h1>
<p>Clique no botão abaixo para ser redirecionado para página solicitada!</p>
<div class="btn">
<a href="#" id="redirect">Continuar</a>
</div>
</div>
<script>
        var braipid  = 'https://ev.braip.com/campanhas/cpa/cam7pz09y';
        document.getElementById('redirect').addEventListener('click', function (e) {window.location.replace(braipid);});
    </script>
</body>
</html>
